@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* animacion con scroll */
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@media screen and (max-width: 1200px) {
  .foto-empleado,
  .logo {
    display: none;
  }

  .subtitle {
    text-align: center;
  }

  .cta-button {
    margin-top: 2rem;
  }

  .partner-benefits {
    grid-template-columns: repeat(3, 15rem) !important;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 2.5rem !important;
    top: 12% !important;
  }

  .cta-button {
    width: 50% !important;
  }

  .partner-benefits {
    grid-template-rows: repeat(3, 20rem) !important;
    grid-template-columns: 75% !important;
    row-gap: 2rem !important;
  }

  .logo-negro {
    z-index: 1;
    width: 20rem !important;
    display: block !important;
    position: absolute;
    bottom: -10%;
    left: 12%;
  }

  .foto-empleado2 {
    display: block !important;
    width: 10rem;
    z-index: 1;
    position: absolute;
    right: 10%;
  }

  .subtitle {
    font-size: 3.5rem !important;
    margin-left: 0.5rem;
  }
}

body {
  font-family: "DM Sans", serif;
}

h1 {
  z-index: 1;
  font-weight: bold;
  color: whitesmoke;
  position: absolute;
  top: 5%;
  left: 12%;
  width: 40%;
  font-size: 4rem;
  flex: 1;
}

.cta-button {
  z-index: 1;
  padding: 1rem;
  background-color: rgb(255, 155, 41);
  color: whitesmoke;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "DM Sans", serif;
  font-weight: bold;
  width: 20rem;
  border-color: transparent;
  text-decoration: none;
  display: flex;
  justify-content: center;
  transition: ease-in-out 0.5s;
}

#main-button {
  position: absolute;
  top: 75%;
  left: 12%;
}

.cta-button:hover {
  background-color: rgb(253, 209, 115);
  transform: scale(1.1);
  cursor: pointer;
}

.logo {
  z-index: 1;
  width: 20rem;
  height: auto;
  position: absolute;
  right: 40%;
  bottom: 35%;
}

#main-section-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  flex: 1;
  margin: 0;
  padding: 0;
}

.foto-empleado {
  position: absolute;
  width: 20rem;
  height: auto;
  bottom: -50%;
  left: 3%;
  z-index: 1;
}

.main-section {
  height: 100vh;
  z-index: -1;
  display: flex;
  align-items: center;
}

.title-text {
  display: flex;
  width: 100vw;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
}

.subtitle {
  font-size: 4rem;
  color: rgb(255, 155, 41);
  margin-bottom: 0;
}

.themed-text {
  color: rgb(255, 155, 41);
  margin-top: 0;
}

.benefits-section {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}

.image-benefit1,
.image-benefit2,
.image-benefit3 {
  width: 10rem;
  height: auto;
  object-fit: cover;
}

.text {
  text-align: center;
}

.partner-benefits {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  grid-template-rows: 1fr;
  column-gap: 2rem;
  justify-items: center;
  justify-content: center;
}

article {
  background-color: transparent;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

article:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4); /* Sombra más grande y oscura */
  transform: scale(1.05); /* Agrandar el div ligeramente */
}

footer {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.buttons-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
