@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body {
  font-family: "DM Sans", serif;
}

h1 {
  z-index: 1;
  font-weight: bold;
  color: whitesmoke;
  position: absolute;
  top: 5%;
  left: 12%;
  width: 40%;
  font-size: 4rem;
  flex: 1;
}

.cta-button {
  z-index: 1;
  padding: 1rem;
  background-color: rgb(255, 155, 41);
  color: whitesmoke;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "DM Sans", serif;
  font-weight: bold;
  width: 15rem;
  border-color: transparent;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

#main-button {
  position: absolute;
  top: 75%;
  left: 15%;
}

.cta-button:hover {
  background-color: rgb(253, 209, 115);
  transform: scale(1.1);
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

.logo {
  z-index: 1;
  width: 15rem;
  height: auto;
  position: absolute;
  right: 40%;
  bottom: 35%;
}

#main-section-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  flex: 1;
  margin: 0;
  padding: 0;
}

.foto-empleado {
  position: absolute;
  width: 20rem;
  height: auto;
  bottom: -50%;
  left: 3%;
  z-index: 1;
}

.main-section {
  height: 100vh;
  z-index: -1;
  display: flex;
  align-items: center;
}

.title-text {
  display: flex;
  width: 100vw;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
}

.subtitle {
  font-size: 4rem;
  color: rgb(255, 155, 41);
  margin-bottom: 0;
}

.themed-text {
  color: rgb(255, 155, 41);
  margin-top: 0;
}

.partner-benefits {
  display: grid;
}

.image-benefit1,
.image-benefit2,
.image-benefit3 {
  width: 10rem;
  height: auto;
  object-fit: cover;
}

.image-benefit1:hover,
.image-benefit2:hover,
.image-benefit3:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.5s;
}

.text {
  text-align: center;
}

.partner-benefits {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  grid-template-rows: 1fr;
  column-gap: 2rem;
  justify-items: center;
  justify-content: center;
}

article {
  background-color: transparent;
  border: gray;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

article:hover {
  border: rgb(97, 97, 97);
  transform: scale(1.1);
  transition: ease-in-out 0.5s;
}

footer {
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  gap: 2rem;
}

.buttons-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
